@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    width:100%;
    font-family: 'Lato';
    background-image: url(./assets/images/wall2.jpg);
    background-position :right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
@media (min-width:700px){
    main{
        display: flex;
        flex-wrap: wrap;
    }
}
